.App {
    text-align: center;
    background-color: #FFFFFF;
    font-family: sans-serif;
   height: 100vh;
  flex-direction: column;
   /* Set height to 100% of the viewport height */
  display: flex; /* Use flexbox for layout
  /* flex-direction: column;   */
  }
  .top-half {
    background-color: white; /* Set the background color for the top half */
    flex: 1; /* Make the top half take up 50% of the available height */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .bottom-half {
    background-color: #1C1678; /* Set the background color for the bottom half */
    display: flex;
    flex: 1; /* Make the bottom half take up 50% of the available height */
   
    justify-content: center;
    align-items: center;
  }
  .App-header {
    width: 100%;
    background-color: #1C1678;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .App-title {
    font-size: 1.5em;
    margin: 0;
    color: #1C1678;
  
  }
  
  .App-info {
    font-size: 0.8em;
    color: #1C1678;
    margin-bottom: 20px;
  }
  
  .login-button {
    background-color: white;
    color: #1C1678;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .skip-button {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .terms-text {
    font-size: 0.8em;
    color: #FFFFFF;
  }
  