.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  
  
  .header__right {
    display: flex;
    align-items: center;
   
    background-color: white;
  }
  .header__left{
    display: flex;
    align-items: center;
  }
  .main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile {
    background-color: #fff;
    /* padding: 2rem; */
    border-radius: 5px;
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); */
  }
  
  .profile ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .profile li {
    margin-bottom: 1rem;
  }
  