/* /* .container-fluid {
    height: 60px;
    background-color: #0E46A3  ;
    display: flex;
    justify-content: center;
   
    /* font-Family:"SF Pro Display, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"                  */
/* } */
/* .nav-item{
    margin-left: 10px;
    margin-right: 3px;
} */
/* .nav-link {
    color: white;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 15px;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 600;
    /* font-Family:"SF Pro Display, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"                  */
    
   
/* }  */
/* .navbar-brand {
    font-weight: 1000;
    font-size: 25px;
    color: #FFFFFF;
    margin-left: 40px;
    
} */


/* .logout-button {
    color: #1C1678;
    background-color:white;
    margin-left: 100px;
    margin-right: 5px; 
  margin-left: 10px;
    margin-right: 3px;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 600;
    /* font-Family:"SF Pro Display, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif"                  */
   
     /* font-size: 20px;
    
}  */ 
/* 
.logout-button:hover {
    background-color: #1C1678;
    color: white;
}
} */

h1{
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1C1678;
  padding: 30px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
}
#navbar li a:hover,
#navbar li a.active {
  color: #17cf97;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #17cf97;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
}

#mobile i {
  color: #fff;
  align-items: center;
}

@media screen and (max-width: 769px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 90px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background:#1C1678 ;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}